@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: calc(100% - 40px); /* Ajustado para deixar espaço para o ícone */
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.button2:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

table {
    display: inline;
    margin: 0;
}

/* Estilo para a área de texto */
textarea {
    display: inline-block;
    vertical-align: middle; /* Alinha verticalmente com os botões */
    text-align: left;
    text-decoration: none;
    color: #FFF;
    background: transparent;
    border: none;
    border-bottom: 4px solid #00838F;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    /* Define o espaço interno igual a 1,5 vezes a altura de uma linha de texto comum */
    padding: 0;
    line-height: 1.5em; /* Ajuste esse valor para 1,5 vezes a altura da linha de texto comum */
    height: 1.5em; /* Ajuste esse valor para 1,5 vezes a altura da linha de texto comum */
    /* Ajuste para baixar o campo de texto em relação ao botão */
    margin-top: 4px;
}

/* Estilo para os botões */
a.button2,a.button3 {
    display: inline-block;
    vertical-align: middle; /* Alinha verticalmente com a área de texto */
    margin-left: 3px; /* Espaçamento entre os botões e a área de texto */
    margin-top: 3px;
    padding: 5px 8px;
}

a.button2 {
    /* Estilos para o botão "Copiar" */
    background-color: #FF5722; /* Cor de fundo */
    color: #FFF; /* Cor do texto */
    padding: 0.5px 4px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse */
    font-size: 20px; /* Tamanho da fonte */
}

a.button2:hover {
    background-color: #E64A19; /* Cor de fundo ao passar o mouse */
}

a.button3 {
    /* Estilos para o botão "Exportar" */
    background-color: #4CAF50; /* Cor de fundo */
    float: right;
    color: #FFF; /* Cor do texto */
    padding: 0.5px 4px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse */
    font-size: 20px; /* Tamanho da fonte */
}

a.button3:hover {
    background-color: #45A049; /* Cor de fundo ao passar o mouse */
}
.home-button {
    text-align: center;
    align-items: middle;
    margin-top: 20px;
}
.home-button ion-icon {
  position: relative;
  right: 12px;
  bottom: 7px;
}

.home-button button {
    width: 10%;
    background-color: #4D8CF0;
    border: 2px solid #4D8CF0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
    padding: 10px 20px;
    font-size: 24px;
}

.home-button button:hover {
    transform: scale(1.1);
}

.home-button button:active {
    transform: scale(0.9);
}
